{% extends 'base.html' %}
{% load static %}

{% block title %}Жалобы{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
    <div class="staff-page-content">
        {% for complaint in complaints %}
            <p class="fs-5">
                <a href="{% url 'voting' complaint.voting.id %}">{{ complaint.voting.title }}</a>
            </p>
            <p class="fs-6">Подал жалобу: {{ complaint.user.username }}</p>
            <form action="complaintSubmit" method="get">
                <button type="submit" class="btn btn-danger" value="{{complaint.id}}" name="btnDelete">Удалить</button>
                <button type="submit" class="btn btn-secondary" value="{{complaint.id}}" name="btnDecline">Отклонить</button>
            </form>
            <hr>
        {% endfor %}
    </div>
{% endblock %}