{% extends 'base.html' %}
{% load static %}

{% block title %}Удалить голосования{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
<div class="staff-page-content">
    {% for voting in votings %}
        <p class="fs-5">
            <a href="{% url 'voting' voting.0.id %}">{{ voting.0.title }}</a>
        </p>
        <p class="fs-6">Создано: {{ voting.0.get_datetime }}. Голосов: {{ voting.1 }}.</p>
        <form action="deleteVoting" method="get">
            <button type="submit" class="btn btn-danger" value="{{voting.id}}" name="btnDelete">Удалить</button>
        </form>
        <hr>
    {% endfor %}
</div>
{% endblock %}