{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
<div class="personal-block-content">
    <h2>Личный кабинет</h2>
    <hr>
    <div class="block-content">
        {% if lenVotings %}
        <div class="user-votings">
            <h4>Ваши голосования</h4>
            {% for voting in uservotings %}
                <p class="voting-title">
                <a href="{% url 'voting' voting.id %}">{{ voting.title }}</a>
                </p>
            {% endfor %}
        </div>
        {% else %}
        <div class="user-votings">
            <p class="voting-title">Вы еще не создавали темы для голосования. <a href="{% url 'create' %}">Создайте!</a></p>
        </div>
        {% endif %}
        <div class="info">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <a href="{% url 'edituserdata' %}" class="link-light">Изменить данные пользователя</a>
            <br>
            <a href="{% url 'changepassword' %}" class="link-light">Изменить пароль</a>
            <hr>
            {% if request.user.is_staff %}
                <a href="{% url 'staff' %}" class="link-light">Страница администратора</a>
            {% else %}
                {% if isRequestCreated %}
                    {% if status == 0 %}
                        <p>Ваша заявка на расмотрении</p>
                    {% elif status == 2 %}
                        <p>Ваша заявка отклонена</p>
                    {% endif %}
                {% else %}
                    <p>Подайте заявку, чтобы стать администратором:</p>
                    <form action="getStaffRequest" method="get">
                        <button type="submit" value="{{user.id}}" name="btnRequest">Подать заявку</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}