{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
<div class="personal-block-content">
    <h2>Личный кабинет</h2>
    <hr>
    <div class="block-content">
        {% if lenVotings %}
        <div class="user-votings">
            <h4>Ваши голосования</h4>
            {% for voting in uservotings %}
            <div class="user-voting" style="margin-left: 1%;">
                <p class="fs-5">
                    <a href="{% url 'voting' voting.0.id %}">{{ voting.0.title }}</a>
                </p>
                <p class="fs-6">Создано: {{ voting.0.get_datetime }}. Голосов: {{ voting.1 }}.</p>
                <form action="deleteUserVoting" method="get">
                    <button type="submit" class="btn btn-danger" value="{{voting.0.id}}" name="btnDelete">Удалить</button>
                </form>
            </div>
                <hr>

            {% endfor %}
        </div>
        {% else %}
        <div class="user-votings">
            <p class="fs-5">Вы еще не создавали голосования. <a href="{% url 'create' %}">Создайте!</a></p>
        </div>
        {% endif %}
        <div class="info">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <a href="{% url 'edituserdata' %}" class="link-light">Изменить данные пользователя</a>
            <br>
            <a href="{% url 'changepassword' %}" class="link-light">Изменить пароль</a>
            <hr>
            {% if request.user.is_staff %}
                <a href="{% url 'staff' %}" class="link-light">Страница администратора</a>
            {% else %}
                {% if isRequestCreated %}
                    {% if status == 0 %}
                        <p>Ваша заявка на расмотрении</p>
                    {% elif status == 2 %}
                        <p>Ваша заявка отклонена</p>
                    {% endif %}
                {% else %}
                    <p>Подайте заявку, чтобы стать администратором:</p>
                    <form action="getStaffRequest" method="get">
                        <button type="submit" class="btn btn-primary" value="{{user.id}}" name="btnRequest">Подать заявку</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}