{% extends 'base.html' %}
{% load static %}

{% block title %}Администрирование{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
<div class="staff-main-content">
    <p class="fs-5">
        <a href="{% url 'deleteVotings' %}">Удаление голосований</a>
    </p>
    <p class="fs-5">
        <a href="{% url 'complaints' %}">Жалобы пользователей</a>
    </p>
    <p class="fs-5">
        <a href="{% url 'staffRequests' %}">Просмотр заявок на получение прав администратора</a>
    </p>
</div>
{% endblock %}