{% extends 'base.html' %}
{% load static %}

{% block title %}Chooser{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
    <h2>{{theme.title}}</h2>
    <p>{{theme.description}}</p>
    {% if percent == -1 %}
        <p>Никто еще не проголосовал</p>
    {% else %}
        <p>{{votesFor}} | {{votesAgainst}}</p>
        <p>За проголосовало: {{percent}}%</p>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if isVoted %}
        <p>Вы уже проголосовали</p>
        {% else %}
        <form action="getVote" method="get">
            <button type="submit" class="voteFor" value="{{theme.id}}" name="btnFor">За</button>
            <button type="submit" class="voteAgainst" value="{{theme.id}}" name="btnAgainst">Против</button>
        </form>
        {% endif %}
    {% else %}
        <p>Авторизируйтесь, чтобы проголосовать.</p>
    {% endif %}
{% endblock %}