{% extends 'base.html' %}
{% load static %}

{% block title %}Chooser{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}
<div class="voting-block">
<div class="voting-content">
    <h3>{{voting.title}}</h3>
    <h4>Описание:</h4>
    <p class="fs-5" style="word-wrap: break-word; max-width: 55%; margin-left: 1%;">{{voting.description}}</p>
    {% if voting.user.id != request.user.id %}
    <p class="fs-5">Создал: {{ voting.user.username }}</p>
    {% endif %}
    {% if percent == -1 %}
        <p class="fs-5">Никто еще не проголосовал</p>
    {% else %}
        <p class="fs-5">За: {{votesFor}} г. | Против: {{votesAgainst}} г.</p>
        <p class="fs-5">Всего: {{ sumVotes }} г.</p>
    {% endif %}
    <div class="voting-info">
    {% if request.user.is_authenticated %}
    {% if voting.user.id == request.user.id %}
    <p class="fs-5">Вы создали это голосование</p>
    {% else %}
        {% if isVoted %}
        <p class="fs-5">Вы уже проголосовали</p>
        {% else %}
        <p class="fs-5">Проголосуйте:</p>
            <form action="getVote" method="get">
                <span class="voting-button">
                    <button type="submit" class="btn btn-success"  style="margin-left: 1%;" value="{{voting.id}}" name="btnFor">За</button>
                </span>
                <span class="voting-button">
                    <button type="submit" class="btn btn-danger" value="{{voting.id}}" name="btnAgainst">Против</button>
                </span>
            </form>
        {% endif %}
    {% endif %}
    {% else %}
        <p class="fs-5">Авторизируйтесь, чтобы проголосовать.</p>
    {% endif %}
    <hr style="visibility: hidden;">
    {% if voting.user.id != request.user.id %}
        {% if isComplaintCreated %}
            <p class="fs-5">Ваша жалоба на рассмотрении</p>
        {% else %}
            <form action="createComplaint" method="get">
                <span class="voting-button"></span>
                    <button type="submit" class="btn btn-warning" value="{{voting.id}}" name="btnCreate">Подать жалобу</button>
                </span>
            </form>
        {% endif %}
    {% endif %}
    </div>
</div>

<div class="chart-block">
    {% if votesFor != 0 and votesAgainst != 0 %}
        <img src="{% static 'images/chart.png' %}" class="chart" />
    {% endif %}
</div>
</div>
{% endblock %}