* {
    font-family: 'Inter', sans-serif;
}

body {
    background: white;
}

header{
    background: rgb(38, 70, 83)
}

div.row{
    margin-top: 0.2%;
}

div.form-container{
    padding-left: 30%;
    padding-right: 30%;
}

div.signup-link{
    margin-top: 0.3%;
}

div.form-title{
    text-align: center;
}

div.signup-link{
    text-align: center;
}

div.block-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

div.personal-block-content{
    padding-left: 3%;
    padding-right: 10%;
}

div.info{
    border: 1px solid rgb(38, 70, 83);
    border-radius: 10px;
    padding: 5%;
    color: white;
    background-color: rgb(38, 70, 83);
    font-size: large;
    margin-left: 5%;
}