* {
    font-family: 'Inter', sans-serif;
}

body {
    background: white;
}

header{
    background: rgb(38, 70, 83)
}

div.row{
    margin-top: 0.2%;
}

div.form-container{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 7%;
}

div.signup-link{
    margin-top: 0.3%;
}

div.form-title{
    text-align: center;
}

div.signup-link{
    text-align: center;
}

div.block-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

div.personal-block-content{
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 5%;
}

div.info{
    border: 1px solid rgb(38, 70, 83);
    border-radius: 10px;
    padding: 5%;
    color: white;
    background-color: rgb(38, 70, 83);
    font-size: large;
    margin-left: 5%;
    margin-bottom: 85%;
}

div.index-block{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 2%;
    padding-top: 8%;
}

div.votings{
    padding-right: 19%;
}

div.create-voting{
    margin-left: 78%;
    position: fixed;
}

div.base-header{
    position: fixed;
    width: 100%;
}

div.staff-page-content{
    padding-top: 7%;
    margin-left: 17%;
    margin-right: 17%;
    text-align: center;
}

div.staff-main-content{
    padding-top: 7%;
    margin-left: 3%;
}

div.voting-block{
    margin-left: 0%;
}

div.voting-content{
    padding-top: 7%;
    padding-left: 3%;
}

.chart{
    width: 35%;
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: -5;
}