* {
    font-family: 'Inter', sans-serif;
}

body {
    background: white;
}

header{
    background: rgb(38, 70, 83)
}

div.row{
    margin-top: 0.2%;
}

div.form-container{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

div.signup-link{
    margin-top: 0.3%;
}